*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
::selection{
    background: #555;
}
.container{
height: 100vh;
width: 100%;
background: linear-gradient(150deg, #09c6ec, rgb(251, 0, 247));
padding: 10px;
}

.todo-app{
width: 100%;
max-width: 70%;
background: white;
margin: 100px auto 20px;
padding: 10px 30px 70px;
border-radius: 20px;
}


.todo-app h2{
    color: rgb(2, 0, 2);
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px ;
    
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d2d2d2;
    padding-left: 30px;
    border-radius: 30px;
    margin-bottom: 25px;
   
    
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}
button{
    border: none;
    outline: none;
    padding: 10px 50px;
    background: rgb(240, 48, 15);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}
button::selection{
    background: #2c63fa;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px ;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-image: url(images/unchecked.png);
    
    top: 12px;
    left: 8px;
    background-color: #09c6ec;

}
ul li.checked{
    color: #a3a3a3;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image:url(images/checked.png) ;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-style: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}